amqp==1.4.9
ansible==1.9.6
anyjson==0.3.3
backports-abc==0.4
billiard==3.3.0.23
celery==3.1.23
certifi==2016.2.28
cffi==1.8.3
cryptography==1.5
enum34==1.1.6
eventlet==0.19.0
gevent==1.1.2
greenlet==0.4.10
idna==2.1
ipaddress==1.0.17
Jinja2==2.8
kombu==3.0.35
MarkupSafe==0.23
motor==0.6.2
paramiko==2.0.2
pika==0.10.0
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pymongo==2.8
pytz==2016.6.1
PyYAML==3.12
schema==0.6.2
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.1
tornado-celery==0.3.5
